.active {
  cursor: pointer;

  border: 2px solid rgba(119, 119, 119, 0.5) !important;
  border-bottom: none !important;
  outline: 2px solid #fff !important;
  border-radius: 2px !important;
  h6 {
    color: black;
  }
}
.not-active {
  cursor: pointer;

  h6 {
    color: rgb(231, 66, 22);
  }
}
.active_Servicesbtn {
  background: #fcb800;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  border: 0px solid;
}
.Servicesbtn {
  background: #383737;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}
.faq {
  width: 100%;
  padding-bottom: 10px;

  &__title {
    margin: 0;
    padding-bottom: 25px;
  }

  &__question {
    width: 100%;
  }
  .font-weight-bold {
    background: #fab700;
  }
  &__question-button {
    background: #ffffff;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border: none;
    transition: 0.7s ease-in-out;
    padding: 0px;
    cursor: pointer;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 18px;
    padding-bottom: 18px;

    &::after {
      display: none;
    }

    &:hover {
      background: #fab700;
    }
  }

  &__desc {
    padding-right: 17px;
    margin: 0%;
    overflow: hidden;
    opacity: 0;
    height: 0;
    transition: 0.7s ease-in-out;
  }
}
// #faq1_desc,
.show-description {
  height: 100%;
  opacity: 1;
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  padding: 18px 16px;
}

tbody {
  border: 12px solid #fff4f0;
}
tbody tr {
  border: 12px solid #fff4f0;
}
thead tr {
  border: 12px solid #fff;
  border-bottom: 12px solid #fff4f0;
}
.Edit,
.Remove {
  font-size: 24px;
}
.Edit {
  color: #e74216;
}
tr th,
tr td {
  border: none;
}
.enable {
  color: green;
}
.disable {
  color: #e74216;
}
