.active {
  cursor: pointer;

  border: 2px solid rgba(119, 119, 119, 0.5) !important;
  border-bottom: none !important;
  outline: 2px solid #fff !important;
  border-radius: 2px !important;
  h6 {
    color: black;
  }
}
.not-active {
  cursor: pointer;
  h6 {
    color: rgb(231, 66, 22);
  }
}
.active_Servicesbtn {
  background: #fcb800;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #000000;
  border: 0px solid;
}
.Servicesbtn {
  background: #383737;
  font-family: "Josefin Sans", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #ffffff;
}
